USE [project]
GO
/****** Object:  Table [dbo].[CountProducts]    Script Date: 25.12.2025 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountProducts](
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Count] [tinyint] NOT NULL,
 CONSTRAINT [PK_CountProducts] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CountProducts]  WITH CHECK ADD  CONSTRAINT [FK_CountProducts_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CountProducts] CHECK CONSTRAINT [FK_CountProducts_Order]
GO
ALTER TABLE [dbo].[CountProducts]  WITH CHECK ADD  CONSTRAINT [FK_CountProducts_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CountProducts] CHECK CONSTRAINT [FK_CountProducts_Product]
GO
